<nav class="navbar sticky-top navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse hstack" id="navbarNavAltMarkup">
            <div class="navbar-nav p-2">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">CampGrounds</a>
                <a class="nav-link" href="/campgrounds/new">Create</a>
            </div>
            <div class="navbar-nav p-2 ms-auto me-4">
                <%if(currentUser) { %>
                    <a href="/logout" class="nav-link">Logout</a>
                    <%} else{%>
                        <a href="/login" class="nav-link">Login</a>
                        <a href="/register" class="nav-link">Register</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>